<!DOCTYPE html>
<html ng-app>
  <head>
    <script src="http://code.angularjs.org/1.0.1/angular-1.0.1.min.js"></script>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="js/main.js"></script>
    <title>Dexan - Soluções em Embalagens de Papelão</title>
  </head>
  <body>

    <!-- <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="#">Empresa</a>
      <a href="#">Produtos</a>
      <a href="#">Meio Ambiente</a>
      <a href="#">Contato</a>
      <a href="#">Trabalhe Conosco</a>
    </div> -->

    <div id="main">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="col-xs-1 menu-icon">
            <a class="navbar-menu" href="#home">
              <span class="menu-icon"  onclick="openNav()">
                  <!-- &#9776; -->
                  <i class="fa fa-lock" aria-hidden="true"></i>
              </span>
            </a>
          </div>
          <div class="navbar-header">
            <a class="" href="#home">
              <img alt="Brand" class="navbar-brand" src="img/logo1.png">
            </a>
          </div>


          <!-- Collect the nav links, forms, and other content for toggling -->
          <!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>


      <section class="home container" id="home">
          <!-- <div class="row">
              <div class="col-xs-8 col-xs-offset-2 title" >
                    <h3>Tenha o <span class="blue">controle</span> absoluto de seus dependentes</h3>
                    <h4>Com Zalt Card você determina <span class="blue"> quanto </span>e <span class="blue">onde</span> eles podem gastar</h4>
              </div>
          </div> -->

          <div class="row">
              <div class="col-sm-4 col-sm-offset-4 boxLogin">
                    <div class="loginTitle">
                        Bem Vindo!
                    </div>
                    <div class="formLogin">
                        <!-- <input type="text" class="form-control" id="username" placeholder="Nome de Usuário">
                        <input type="password" class="form-control" id="password" placeholder="Senha"> -->

                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-user-o" aria-hidden="true"></i>
                            </div>
                            <input type="text" class="form-control" id="username" placeholder="Nome de usuário" ng-model="username">
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            </div>
                            <input type="password" class="form-control" id="password" placeholder="Senha" ng-model="password">
                          </div>
                        </div>

                        <button type="button" class="btn btn-lg" onclick="location.href = 'home.html';">Entrar</button>
                    </div>




              </div>
          </div>


      </section>
    </div>






    <!-- <section class="home container">
      <div class="row">
        <div class="col-sm-1">.col-sm-1</div>
        <div class="col-sm-1">.col-sm-1</div>
        <div class="col-sm-1">.col-sm-1</div>
        <div class="col-sm-1">.col-sm-1</div>
        <div class="col-sm-1">.col-sm-1</div>
        <div class="col-sm-1">.col-sm-1</div>
        <div class="col-sm-1">.col-sm-1</div>
        <div class="col-sm-1">.col-sm-1</div>
        <div class="col-sm-1">.col-sm-1</div>
        <div class="col-sm-1">.col-sm-1</div>
        <div class="col-sm-1">.col-sm-1</div>
        <div class="col-sm-1">.col-sm-1</div>
      </div>
    </section> -->

    <footer>
        <div class="row">
            <div class="col-md-12 social-icons">
                <br>
                <p style="color: rgba(255, 255, 255, 0.5);">Desenvolvido por:</p>
                <a class="" href="#">
                  <img alt="Brand" class="brand-footer" src="img/logoTBGC.png">
                </a>
            </div>
        </div>
    </footer>



  </body>
</html>
